<div class="nav">
  <ul>
    <li id="create-account">Create Account</li>
    <li id="sign-in">Sign In</li>
    <% if session[:user_id] %>
      <li id="play"><%= link_to "Play", rooms_path %></li>
    <% end %>
    <li class="game-stats">Buy In: $<%= @game.buy_in if @game %></li>
    <li id="little-blind" class="game-stats">Little Blind: $ <%= @game.little_blind if @game %></li>
    <li class="game-stats">Big Blind: $<%= @game.big_blind if @game %></li>
    <li class="game-stats">Pot: $<%= @game.pot if @game %></li>
  </ul>
</div>
