<div class="nav">
  <ul>
    <% if @game && !@game.started %>
      <li id="little-blind" class="game-stats">Little Blind: $ <%= @game.little_blind if @game %></li>
      <li class="game-stats">Big Blind: $<%= @game.big_blind if @game %></li>
      <li class="game-stats" id="pot"></li>
      <div class="pregame">
        <button id="add-ai-player" value="Add AI Player" data-behavior="room_speaker" class="btn">Add AI Player</button>
        <button id="join" value="Join" data-behavior="room_speaker" class="btn">Join</button>
        <button id="start-game" value="Start Game" data-behavior="room_speaker" class="btn">Start Game</button>
      </div>
    <% end %>
    <% if current_user %>
      <li id="sign-out"><%= link_to "Sign Out", logout_path, method: :delete %></li>
    <% else %>
    <li id="create-account"><%= link_to "Create Account", "#" %></li>
    <li id="sign-in"><%= link_to "Sign In", "#" %></li>
    <% end %>
  </ul>
</div>
