<div class="nav">
  <ul>
    <% #if current_user %>
      <li id="sign-out"><%= link_to "Sign Out", logout_path, method: :delete %></li>

      <li id="little-blind" class="game-stats">Little Blind: $ <%= @game.little_blind if @game %></li>
      <li class="game-stats">Big Blind: $<%= @game.big_blind if @game %></li>
      <li class="game-stats">Pot: $<%= @game.pot if @game %></li>
      <li class="game-stats" id="play"><%= link_to "Play", rooms_path, data: { no_turbolink: true } %></li>
    <% #else %>
      <li id="create-account">Create Account</li>
      <li id="sign-in">Sign In</li>
    <% #end %>
  </ul>
</div>
