<div class="player <%= "fold" if game.find_players.first.action == 2 %>" id="<%= game.find_players.first.id %>">Little:
  <%= game.find_players.first.username %>: $<%= game.find_players.first.cash %></div>
<div class="player <%= "fold" if game.find_players[1].action == 2 %>" id="<%= game.find_players[1].id %>">Big:
  <%= game.find_players[1].username %>: $<%= game.find_players[1].cash %></div>
<% game.find_players[2..-1].each do |player| %>
  <div class="player <%= "fold" if player.action == 2 %>" id="<%= player.id %>"><%= player.username %>: $<%= player.cash %></div>
<% end %>
