<%= image_tag "felt.jpg", class: "background" %>
<div class="top-container">
  <div id="players">
    <%= render @players if @players%>
  </div>
</div>

<div id="game_cards">
  <%= render @game_cards %>
</div>


<div class="history">
  <h1>Table</h1>
  <form>
    <label>Say something:</label><br>
    <input name="chat" id="chat" type="text" data-behavior="room_speaker">
  </form>

  <div id="messages">
    <%= render @messages.reverse %>
  </div>
</div>
<div id="cards">
  <%= render @cards %>
</div>

<%= render partial: "partials/game_actions" %>
